:root {
--neutralPrimary: #323130;
--white: #ffffff;
--black: #000000;
--neutralLighterAlt: #faf9f8;
--neutralLighter: #f3f2f1;
--neutralLight: #edebe9;
--neutralDark: #201f1e;
--themeLighter: #dcf2dd;
--themeLighterAlt: #f6fcf6;
--themeLight: #c0e7c1;
--themePrimary: #4caf50;
--themeSecondary: #5cb960;
--themeTertiary: #89d08b;
--themeDarkAlt: #449e47;
--themeDark: #3a863c;
--themeDarker: #2a632c;
--neutralQuaternaryAlt: #e1dfdd;
--neutralQuaternary: #d0d0d0;
--neutralTertiaryAlt: #c8c6c4;
--neutralTertiary: #a19f9d;
--neutralPrimary-trs: #32313044;
--white-trs: #ffffff44;
--black-trs: #00000044;
--neutralLighterAlt-trs: #faf9f844;
--neutralLighter-trs: #f3f2f144;
--neutralLight-trs: #edebe944;
--neutralDark-trs: #201f1e44;
--themeLighter-trs: #dcf2dd44;
--themeLighterAlt-trs: #f6fcf644;
--themeLight-trs: #c0e7c144;
--themePrimary-trs: #4caf5044;
--themeSecondary-trs: #5cb96044;
--themeTertiary-trs: #89d08b44;
--themeDarkAlt-trs: #449e4744;
--themeDark-trs: #3a863c44;
--themeDarker-trs: #2a632c44;
--neutralQuaternaryAlt-trs: #e1dfdd44;
--neutralQuaternary-trs: #d0d0d044;
--neutralTertiaryAlt-trs: #c8c6c444;
--neutralTertiary-trs: #a19f9d44;
--shared-red20: #a4262c;
--shared-redorange10: #da3b01;
--shared-bluemagenta30: #5c2e91;
--shared-purpledark: #32145a;
--shared-bluedark: #002050;
--shared-tealdark: #004b50;
--shared-bluemid: #00188f;
--shared-orangelight: #ea4300;
--shared-greendark: #004b1c;
--shared-red20-trs: #a4262c44;
--shared-redorange10-trs: #da3b0144;
--shared-bluemagenta30-trs: #5c2e9144;
--shared-purpledark-trs: #32145a44;
--shared-bluedark-trs: #00205044;
--shared-tealdark-trs: #004b5044;
--shared-bluemid-trs: #00188f44;
--shared-orangelight-trs: #ea430044;
--shared-greendark-trs: #004b1c44;
--transparent: transparent;
--transparent-trs: transparent;
}
